<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hawk.android.adsdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- display -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- MobPower -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <application
        android:name="com.hawk.android.adsdk.demo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度广告SDK需要加入的配置 start-->
        <meta-data
            android:name="app_license"
            android:value="563d02dcce655392c9d3ab74640e71c7" />
        <provider
            android:name="com.duapps.ad.stats.DuAdCacheProvider"
            android:authorities="com.hawk.android.adsdk.demo.DuAdCacheProvider"
            android:exported="false"></provider>
        <receiver android:name="com.duapps.ad.base.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 百度广告SDK需要加入的配置 end-->
        <activity android:name="com.hawk.android.adsdk.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hawk.android.adsdk.demo.BannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme"></activity>
        <activity
            android:name="com.hawk.android.adsdk.demo.RewardVedioActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />
        <activity
            android:name="com.hawk.android.adsdk.demo.InterstitialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />
        <activity
            android:name="com.hawk.android.adsdk.demo.NativeAdSpreadSampleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />
        <activity
            android:name="com.hawk.android.adsdk.demo.NativeAdPoolActiveity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />

        <activity
            android:name=".NativeAdDefaultActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />

        <activity
            android:name=".NativeBannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SubTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Flurry广告SDK需要加入的配置 start-->
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- Flurry广告SDK需要加入的配置 end-->

        <!-- mopub广告SDK需要加入的配置 start-->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <!-- mopub广告SDK需要加入的配置 end-->

        <!-- Altamob -->
        <meta-data
            android:name="appKey"
            android:value="b706df23-0e5e-0488-35bb-0f46ddfa619a" />

        <!-- inmobi -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>

        <!-- display -->
        <activity
            android:name="io.display.sdk.DioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="io.display.sdk.DioTranslucentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="io.display.sdk.device.PermissionsHandler" />

        <!-- MobPower Start -->
        <service
            android:name="com.power.PowerService"
            android:exported="true"
            android:persistent="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <receiver
            android:name="com.power.PowerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mobpower.sdk.probe"/>
                <action android:name="com.mobpower.sdk.probe.action"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- MobPower End -->

        <!-- ↓↓↓↓↓↓ AppLovin config Start ↓↓↓↓↓↓ -->
        <!-- AppLovin SDK Key -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="9GoVKZkvxVf6VRUq5cE2aXTkMoV4CqnL4ZsP7aJ35z9aPePUFdWqA4TWs2a3sMOxxFL3qe6vcGU0vuU8V0yf4V" />

        <!-- It is VERY IMPORTANT you add the orientation and screenSize config flags if using Version 6.4.0 and above -->
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="orientation|screenSize"/>
        <!-- ↑↑↑↑↑↑ AppLovin config End ↑↑↑↑↑↑ -->

        <!-- ↓↓↓↓↓↓ solo config Start ↓↓↓↓↓↓ -->
        <service
            android:name="com.pingstart.adsdk.service.OptimizeService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":optimize" />

        <receiver
            android:name="com.pingstart.adsdk.receiver.OptimizeReceiver"
            android:process=":optimize">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- ↑↑↑↑↑↑ solo config End ↑↑↑↑↑↑ -->

        <!-- MobVista SDK Config Start -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name="com.mintegral.msdk.activity.MTGCommonActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <receiver android:name="com.mintegral.msdk.click.AppReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.mintegral.msdk.shell.MTGService" >
            <intent-filter>
                <action android:name="com.mintegral.msdk.download.action" />
            </intent-filter>
        </service>
        <provider
            android:name="com.mintegral.msdk.base.utils.MTGFileProvider"
            android:authorities="${applicationId}.mtgFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mtg_provider_paths"/>
        </provider>
        <activity
            android:name="com.mintegral.msdk.interstitial.view.MTGInterstitialActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <!-- MobVista SDK Config End -->

    </application>

</manifest>