<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hawk.android.adsdk.demo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
            android:allowBackup="true"
            android:name="com.hawk.android.adsdk.demo.MyApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- 百度广告SDK需要加入的配置 start-->
        <meta-data
                android:name="app_license"
                android:value="563d02dcce655392c9d3ab74640e71c7"/>
        <provider
                android:name="com.duapps.ad.stats.DuAdCacheProvider"
                android:authorities="com.hawk.android.adsdk.demo.DuAdCacheProvider"
                android:exported="false">
        </provider>
        <receiver android:name="com.duapps.ad.base.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- 百度广告SDK需要加入的配置 end-->
        <activity android:name="com.hawk.android.adsdk.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.hawk.android.adsdk.demo.BannerActivity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask">
        </activity>
        <activity
                android:name="com.hawk.android.adsdk.demo.RewardVedioActivity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask"/>
        <activity
                android:name="com.hawk.android.adsdk.demo.InterstitialActivity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask"/>
        <activity
                android:name="com.hawk.android.adsdk.demo.NativeAdSpreadSampleActivity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask"/>
        <activity
                android:name="com.hawk.android.adsdk.demo.NativeAdPoolActiveity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask"/>
        <activity
                android:name=".NativeAdDefaultActivity"
                android:theme="@style/SubTheme"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:launchMode="singleTask"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
                android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity android:name="com.mopub.mobileads.MoPubActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="com.mopub.mobileads.MraidActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="com.mopub.common.MoPubBrowser"
                  android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.etap.EtapActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <receiver android:name="com.etap.EtapBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>